In [18]:
import numpy as np
import pandas as pd

In [19]:
psg_players = pd.Series(['Navas','Mbappe',"Neymar",'Messi'],index=[1,7,10,30])
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [20]:
pd.Series(['Navas','Mbappe',"Neymar",'Messi'])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [21]:
dict = {1:'Navas',7:'Mbappe',10:"Neymar",30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [22]:
psg_players[0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

In [23]:
dict = {'Jugador':['Navas','Mbappe',"Neymar",'Messi'],
 'Altura':[183.0,170.0,170.0,165.0],
 'Goles':[2,200,200,200]}

In [24]:
df_players = pd.DataFrame(dict)
df_players

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   170.0    200
2  Neymar   170.0    200
3   Messi   165.0    200

In [25]:
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [26]:
df_players.index

RangeIndex(start=0, stop=4, step=1)