In [18]:
import pandas as pd
import numpy as np

In [19]:
dict = {'Col1':[1,2,3,np.nan],
 'Col2':[4,np.nan,6,7],
 'Col3':['a','b','c',None]}

In [20]:
df = pd.DataFrame(dict)

In [21]:
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

In [22]:
df.isnull()

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [23]:
df.isnull()*1

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

In [24]:
df.fillna('Missing')

      Col1     Col2     Col3
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing

In [25]:
# Calcula la media solo en las columnas numéricas
numeric_cols = df.select_dtypes(include=np.number)
numeric_cols

   Col1  Col2
0   1.0   4.0
1   2.0   NaN
2   3.0   6.0
3   NaN   7.0

In [26]:
mean_values = numeric_cols.mean()
mean_values

Col1    2.000000
Col2    5.666667
dtype: float64

In [27]:
# Rellena los valores nulos con la media en las columnas numéricas
numeric_cols.fillna(mean_values)

   Col1      Col2
0   1.0  4.000000
1   2.0  5.666667
2   3.0  6.000000
3   2.0  7.000000

In [28]:
df.interpolate()

/tmp/ipykernel_6271/4002874584.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate()

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

In [29]:
df.dropna()

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c