In [1]:
import pandas as pd

In [2]:
df_books = pd.read_csv("./bestsellers-with-categories.csv",sep=",",header=0)
df_books.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

In [3]:
def two_times(value):
    return value * 2

In [6]:
df_books["Rating_2"] = df_books["User Rating"].apply(two_times)

In [8]:
df_books["Rating_3"] = df_books["User Rating"].apply(lambda x: x * 3)

In [9]:
df_books.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2,Rating_3
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4,14.1
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2,13.8

In [11]:
df_books["Rating_2"] = df_books.apply(lambda x : x["User Rating"] * 2 if x["Genre"] == "Picture" else x["User Rating"],axis=1)

In [ ]:
df_books.head